<!DOCTYPE html>
<html>
  <head>
    <title>MiPrimerAppEnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to 'Logo', root_path %> | <%= link_to 'Books', books_path %> | <%= link_to 'About', about_path %>
    </header>
    <main><%= yield %></main>
    <footer>
      Copyright &copy; <%= Time.zone.now.year %>
    </footer>
  </body>
</html>
